.main{
  flex: 1;
  min-height: 100vh;
  padding-bottom: 15vh;
  position: relative;
}
.main .nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
  padding: 20px;

}


.main .nav p {
  color: transparent;
  background-image: linear-gradient(45deg, #2be312, #de350b, #120f11);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: discoLight 2s linear infinite;
}

@keyframes discoLight {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.main .nav img{
  width: 60px;
  border-radius: 50%;
}
.main-container{

  margin-left: auto;
  
}
.main .greet{
  margin: 50px 0px ;
  font-size: 50px;
  font-weight: 500;
  padding: 20px;
  color: rgb(221, 200, 176);

}
.main .greet span{
  background: -webkit-linear-gradient(16deg,rgb(231, 107, 218),rgb(189, 82, 82));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.main .cards{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
  gap: 15px;
  padding: 20px;
}
.main  .card{
height: 200px;
padding: 15px;
background-color:#f6f6ce;
border-radius: 10px;
position: relative;
cursor: pointer;

}

.main .card img{
  width: 40px;
  padding: 5px;
  position: absolute;
  background-color: white;
  border-radius: 20px;
  bottom: 10px;
  right: 10px;
}
.main .card p{
  color: rgb(98, 91, 91);
  font-size: 20px;
}
.main .card:hover{
  color: white;
  background-color: rgb(205, 162, 162);
}
.main-bottom{
position: absolute;
bottom: 0;
width: 100%;
max-width: 900px;
padding: 0px 20px;
margin: auto;

}
.search-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: antiquewhite;
  padding: 10px 20px;
  border-radius: 50px;

}
.search-box img{
  width: 24px;
  cursor: pointer;
}
.search-box input{
  flex: 1;
  border: none;
  background: transparent;
  outline: none;
  padding: 8px;
  font-size: 18px;


}
.search-box div{
  display: flex;
  gap: 15px;
  align-items: center;
}
.main .Bottom-info{
font-size: 13px;
margin: 15px auto;
text-align: center;
font-weight: 300;
}
.result{
  padding: 0px 5%;
  max-height: 70vh;
  overflow: scroll;

}
.result::-webkit-scrollbar-button {
  display: none;
}
.result-Title{
  margin: 40px 0px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.result img{
  width: 40px;
  border-radius: 50%;

}
.result-data{
  display: flex;
  align-items: start;
  gap: 22px;

}
.loader{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* Main.css */
.loader hr {
  border-radius: 4px;
  border: none;
  background: linear-gradient(to right, #ff4e50, #ff9900, #ff4e50); /* Vibrant gradient */
  background-size: 200% 100%; /* Double the width for a smoother flow */
  height: 5px;
  animation: loader 2s infinite alternate-reverse; /* Pulsating effect */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

@keyframes loader {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}


.result-data p{
  font-size: 17px;
  font-weight: 300;
  line-height: 1.8;

}
@media (max-width:600px){
  .main-bottom input{
    flex: none;
    width: 150px;
  }
  .main-bottom img{
    width: 20px;
  
  }
  .search-box{
    padding: 5px 10px;
  }
.search-box div{
  gap: 5px;
}
}